.title {
    text-align: center;
}

.player-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.player-description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.player-pic {
    width: 200px;
}

.player-name {
    font-weight: bold;
    font-size: 1.5rem;
}

footer {
    display: flex;
    width: 100%;
    justify-content: center;
}

footer span {
    padding: 1rem 0;
}